<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base.html :: header('Editar Ubicación')}"></head>
<body>
    <div id="dejack" th:data-ubi-id="${ubicacion.id}" th:data-nombre="${ubicacion.nombre}"></div>
	<script th:src="@{~/js/ubicaciones/editar.js}" type="text/javascript"></script>
	<nav th:replace="~{base.html :: navbar}"></nav>
	<br>
	<div class="container">
		<div class="row gap-1">
			<div class="col-sm-12 col-md-6 container justify-content-center card pt-3 pb-3">
				<h1 class="text-center">Registro de nueva ubicación</h1>
				<div class="card-body">
					<div th:if="${session.msg}" th:classappend="${session.msg}" class="alert alert-success" role="alert">
						<p th:text="${session.msg}"></p>
					</div>
					<form method="POST" th:action="@{~/api/v1/ubicaciones}">
						<div class="form-group">
							<label>Nombre de ubicación</label>
							<input type="text" name="nombre" class="form-control" required maxlength="45" th:value="${ubicacion.nombre}">
						<br>
						<div class="box-footer">
							<button id="btnSubmit" type="submit" class="btn btn-success">Guardar</button>
							<a th:href="@{/ubicaciones}" class="btn btn-danger">Volver</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>