<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base.html :: header('SIGECAP')}"></head>
<body>
<div class="container text-center">
    <div>
        <h1>SIGECAP</h1>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div
                    class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Autenticación</h1>
                <div class="card-body">
                    <form th:action="@{~/api/v1/usuarios/login}" onsubmit="return enviar(event, this);">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Ingrese su correo electrónico" required maxlength="45">
                            <br>
                            <input type="password" name="pwd" class="form-control" placeholder="Ingrese su contraseña" required maxlength="45">
                        </div>
                        <br>
                        <div class="box-footer">
                            <button class="btn btn-success">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{~/js/app.js}"></script>
<script th:inline="javascript">
    function enviar(event, form){
        event.preventDefault();
        let login = {
            email: form['email'].value,
            pwd: form['pwd'].value
        };
        post(form.action, login, (data) => {
            if(data.status==200){
                redirect('/');
            } else {
                alert(data.contenido.error);
                console.log(data);
            }
        });
    }
</script>
</body>
</html>